/* Universal */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

/* .home-main {
  background-image: url(https://avatars.mds.yandex.net/i?id=58d84e6510e3994ec4a04d69c770aa8b8218818a-10371233-images-thumbs&n=13);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -999;
  opacity: 0.5;
} */

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06d85f;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.verify-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.verify-overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  background: #fff;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
  border-radius: 20px;
}

.verify-head {
  display: flex;
  align-items: center;
  background-color: #ca629d;
  padding: 20px;
  border-radius: 20px 20px 0 0;
}

.popup div h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.popup .close {
  position: absolute;
  top: 13px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: black;
}
.popup .content {
  max-height: 30%;
  background-color: white;
  border-radius: 0 0 20px 20px;
  text-align: left;
}

.verify-form-input {
  margin: 20px;
  width: 85%;
}

.verify-form-input input {
  padding: 5px 10px;
  width: 100%;
}

.verify-form-input h1 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: rgb(124, 128, 131);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 5px;
}

.verify-form-submit {
  text-align: right;
  margin: 20px;
}

.verify-form-submit button {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 0;
  padding: 5px 10px;
  margin: 10px 5px;
  border-radius: 5px;
  background-color: #12448b;
}

/* Nav-bar */

.nav-main {
  background-color: #fff;
  z-index: 0;
}

.mobile-view-main {
  display: none;
}

.nav-sub {
  background-color: #fff;
  z-index: 1;
}

.nav-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 10px;
  /* position: fixed; */
  z-index: 1;
  background-color: #fff;
}

.nav-data.fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
  background: linear-gradient(
    90deg,
    rgba(202, 98, 157, 1) 29%,
    rgba(8, 68, 152, 1) 100%
  );
}

.nav-logo-main {
  width: 10%;
}

.nav-logo-sub {
  width: 100%;
}

.nav-logo-sub img {
  width: 100%;
}
.nav-logo-box {
  display: flex;
  background-color: #ffffff;
  border: 2.5px solid #12448b;
  padding: 5px 20px;
  border-radius: 30px;
}
.nav-menu-main {
  width: 61%;
}
.nav-menu-ul {
  width: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 19px;
}

.nav-menu-li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  color: #12448b;
  text-transform: uppercase;
  font-family: Saira, sans-serif;
}

.nav-menu-main.scrolled .nav-menu-li a {
  color: white;
}

.nav-menu-li :hover {
  color: #ca629d;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu-main.scrolled .nav-menu-li::before {
  background-color: white;
}

.nav-menu-li {
  position: relative; /* Ensure proper positioning of the pseudo-element */
}

.nav-menu-li::before {
  content: "";
  position: absolute;
  top: 50%; /* Position the pseudo-element at the center vertically */
  left: 0;
  width: 100%;
  height: 2px; /* Height of the hover effect */
  background-color: #12448b; /* Color of the hover effect */
  transform: scaleX(0); /* Initially, scale the pseudo-element to 0 width */
  transform-origin: center; /* Ensure transform origin is at the right edge */
  transition: transform 0.3s ease-out; /* Add transition for smooth animation */
  margin-top: 20px;
}

.nav-menu-li:hover::before {
  transform: scaleX(1); /* Scale the pseudo-element to full width on hover */
  transform-origin: center; /* Ensure transform origin is at the left edge */
}

.tab-nav {
  display: none;
}
/* Navbar-top */

.top-nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #12448b;
  background: linear-gradient(
    90deg,
    rgba(202, 98, 157, 1) 29%,
    rgba(8, 68, 152, 1) 100%
  );
  z-index: 0;
}

.top-nav-data {
  display: flex;
  align-items: center;
  gap: 30px;
}

.top-nav-loc,
.top-nav-email {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-nav-data span {
  color: #12448b;
  margin-top: 5px;
  font-size: 20px;
}

.top-nav-loc {
  border-right: 1px solid white;
  padding-right: 30px;
}

.top-nav-loc p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.top-nav-email a {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.top-nav-btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.top-nav-btn-sub a {
  text-decoration: none;
  padding: 10px 20px;
  border: 0;
  background-color: #ca629d;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: Saira, sans-serif;
  border-radius: 10px;
  text-transform: uppercase;
}
/* Product Dropdown */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown-content {
  padding: 15px 0;
  display: none;
  position: absolute;
  background-color: #12448b;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  animation: slideDown 0.3s ease-out forwards;
  text-align: left;
  padding-left: 15px;
}

.dropdown-content a {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  font-family: Saira, sans-serif;
  color: #fff;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  height: 170px;
}

.dropdown-content a:hover {
  padding-left: 30px;
}

@keyframes slideDown {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* dropdown end */

.nav-contact-main {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-contact-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* .nav-contact-img {
    width: 50px;
} */

.nav-contact-img img {
  width: 100%;
}

.nav-wp {
  width: 45px;
}

.nav-insta {
  width: 40px;
}

.nav-fb {
  width: 25px;
}

.nav-contact-phone {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #12448b;
  border: 2.5px solid #ca629d;
  padding: 5px 20px;
  border-radius: 30px;
}

.nav-contact-phone span {
  color: #ca629d;
  font-size: 20px;
  margin-top: 5px;
}

.nav-contact-phone a {
  font-size: 12px;
  line-height: 26px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* All Pages Banner */

.pages-banner {
  background-image: url("../img/future.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: fit-content;
}

.pages-banner-sub {
  position: static;
  max-width: 1450px;
  padding: 150px 15px 10px 15px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.454);
  height: -webkit-fill-available;
}

.pages-content-box {
  align-items: center;
  position: relative;
  z-index: 2;
}

.pages-content-box h1 {
  position: relative;
  display: block;
  font-size: 60px;
  line-height: 70px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-bottom: 100px;
}

.pages-ul,
.pages-ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  letter-spacing: 1px;
  text-align: left;
}

.pages-ul li {
  position: relative;
  display: inline-block;
  font-size: 18px;
  line-height: 28px;
  font-family: "Saira", sans-serif;
  color: #fff;
  font-weight: 500;
  margin-right: 30px;
}

.pages-ul li a {
  color: #fff;
  text-decoration: none;
}

.pages-ul li:first-child::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  top: 10px;
  right: -20px;
  border-radius: 50%;
  border: 2px solid #ca629d;
}

.implant-banner {
  background-image: url("../img/implant_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

.lithium-banner {
  background-image: url("../img/lithium_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

.denzir-banner {
  background-image: url("../img/denzir_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

.dmls-banner {
  background-image: url("../img/dmls_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

.removable-banner {
  background-image: url("../img/removable_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

/* Home Banner */

.banner-main {
  background-image: url(../img//banner-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 150px 0 100px 0;
  /* background: #f1f4f9; */
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-linear-gradient(
    0deg,
    #12448b,
    rgba(100, 100, 100, 0.3) 100%
  );
}

.banner-data {
  text-align: left;
  width: 65%;
  position: relative;
  padding: 0 30px;
}

.banner-text-head {
  margin: 30px 0;
}

.banner-text-head h3 {
  font-size: 40px;
  line-height: 26px;
  font-weight: 600;
  color: rgb(92, 197, 214);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.banner-text-head h1 {
  font-size: 60px;
  line-height: 85px;
  font-weight: 600;
  color: rgb(202, 98, 157);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.banner-text-body {
  margin: 30px 0;
}

.banner-text-body p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.banner-btn {
  margin: 50px 0;
}

.banner-btn a {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-family: Saira, sans-serif;
  background-color: #ca629d;
  padding: 10px 25px;
}

.banner-btn :hover {
  background-color: #12448b; /* Change the color to whatever you want */
  transition: all 0.3s ease-in-out 0s;
}

/* Home About */

.about-sub {
  /* position: relative; */
  padding: 0 30px;
  margin: 50px 0;
  width: 88%;
}

.about-p1 {
  display: flex;
  gap: 30px;
}

.about-p1-txt {
  text-align: left;
  width: 54%;
}

.sub-title {
  color: #ca629d;
}

/* .sec-title .sub-title:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 8px;
  top: 7px;
  border-radius: 50%;
  background-color: #ca629d;
} */

.sec-title .sub-title {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-family: "Saira", sans-serif;
  font-weight: 600;
  margin-bottom: 13px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  padding-left: 27px;
}

/* .sec-title .sub-title:after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  left: 0px;
  top: 2px;
  border-radius: 50%;
  background-color: #ca629d;
} */

.sec-title h1 {
  font-size: 45px;
  line-height: 50px;
  font-weight: 500;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sec-text p {
  font-size: 15.5px;
  line-height: 25px;
  font-weight: 400;
  color: rgb(124, 128, 131);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 25px 0;
}

.about-p1-img {
  width: 35%;
  margin-top: 50px;
}

.image-box {
  position: relative;
  display: block;
  padding: 0 40px;
  margin-right: 30px;
}

.shape-1 {
  background-image: url(../img/shape-1.png);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 540px;
  height: 604px;
  background-repeat: no-repeat;
  background-position: center;
}

.shape-2 {
  background-image: url(../img/shape-2.png);
  position: absolute;
  left: 50px;
  top: 56px;
  width: 440px;
  height: 492px;
  background-repeat: no-repeat;
  background-position: center;
}

.thumb {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.box-1 {
  left: 85px;
  top: 40px;
  animation: zoom-fade 4s infinite linear;
}

.box-2 {
  top: 50px;
  right: -160px;
  animation: zoom-fade 5s infinite linear;
}

.box-3 {
  left: 85px;
  bottom: -220px;
  animation: zoom-fade 6s infinite linear;
}

.thumb img {
  width: 100%;
  border-radius: 50%;
}

.image {
  position: relative;
  display: block;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 100%;
  left: 90px;
  top: 135px;
}

.image img {
  width: 100%;
}

.image img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.7s;
  transition-property: all;
}

.text {
  position: absolute;
  right: -190px;
  bottom: -235px;
  width: 165px;
  height: 108px;
  background-color: #ca629d;
  text-align: center;
  border-radius: 75%;
  padding: 31px 0px 15px 0px;
}

.text h2 {
  position: relative;
  display: inline-block;
  font-size: 36px;
  line-height: 44px;
  font-weight: 500;
  color: #fff;
  padding-right: 21px;
  margin-bottom: 4px;
}

.text h2 span {
  position: absolute;
  top: -14px;
  right: 0px;
  font-weight: 400;
}

.text h6 {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.about-p2 {
  text-align: left;
  margin: 30px 0;
}

.about-p2-title h1 {
  font-size: 55px;
  line-height: 62px;
  font-weight: 500;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.about-p2-txt p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: rgb(124, 128, 131);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 25px 0;
}

/* Home Dentistry */

.home-dent-section {
  position: relative;
}

.home-dent-main {
  position: static;
  max-width: 1450px;
  padding: 0px 15px;
  margin: 0 auto;
  background-color: #f0f5f7;
  padding: 50px 0;
}

.home-dent-sub {
  display: flex;
  align-items: center;
  gap: 50px;
}

.home-dent-sub::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/home_dentristry_bg.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.dent-image-column {
  width: 30%;
}

.dent-img-box {
  width: 100%;
  position: relative;
  clip-path: polygon(
    30% 5%,
    70% 5%,
    89% 25%,
    89% 65%,
    70% 90%,
    30% 90%,
    11% 64%,
    11% 26%
  );
}

.dent-img-box img {
  width: 100%;
}

.dent-content-column {
  width: 70%;
  text-align: left;
  z-index: 1;
}

.dent-content-head a {
  text-decoration: none;
}

.dent-content-head a h1 {
  font-size: 55px;
  line-height: 62px;
  font-weight: 500;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 30px;
}

.dent-content-txt p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin: 30px 0;
}

.dent-content-data {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

/* Home Product */

.home-product-mobile {
  display: none;
}

.home-product-content-sub {
  display: block;
}

.home-product-sub {
  margin: 50px 20px;
}

.home-product-head {
  text-align: left;
}

/* .home-product-head .home-product-sub-title:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ca629d;
  left: 20px;
  margin: 10px 0 0 7px;
} */

/* .home-product-head .home-product-sub-title:after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  left: 18px;
  border-radius: 50%;
  background-color: #ca629d;
  margin-top: 5px;
} */

span.home-product-sub-title {
  margin-left: 25px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: rgb(202, 98, 157);
  font-family: Saira, sans-serif;
}

.home-product-head h1 {
  font-size: 55px;
  line-height: 62px;
  font-weight: 500;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.home-product-slider-main {
  box-shadow: 0 0 6px -2px;
  margin-top: 50px;
  height: 550px !important;
  margin-bottom: 50px;
}

.home-product-slider-img-box {
  width: 100%;
  overflow: hidden;
}

.home-product-slider-img-sub {
  width: 360px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
}

.home-product-slider-img-sub :hover {
  transform: scale(1.1);
  transition: 0.4s all ease-in-out 0s;
}

.home-product-slider-img-sub img {
  width: 100%;
  height: 100%;
}

.home-product-slider-txt {
  text-align: left;
  padding: 10px 10px 10px 10px;
}

.home-product-slider-txt a {
  text-decoration: none;
}

.home-product-slider-txt h1 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 15px 20px;
}

.home-product-slider-txt p {
  width: 96%;
  font-size: 18px;
  line-height: 28px;
  font-family: 400;
  color: rgb(124, 128, 131);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 15px 20px;
}

/* Home Gallary */

.mobile-home-gallary-content {
  display: none;
}

.home-gallary-content {
  display: block;
}

.home-gallary-main {
  background-color: #f0f5f7;
}

.home-gallary-sub {
  margin: 0 10px;
  padding: 30px 0;
}

.home-gallary-txt {
  margin: 20px 0;
}

/* .home-gallary-txt span:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ca629d;
  left: 570px;
  margin-top: 8px;
} */

.home-gallary-txt span {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: rgb(202, 98, 157);
  font-family: Saira, sans-serif;
}

/* .home-gallary-txt span:after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ca629d;
  left: 560px;
  margin-top: 3px;
} */

.home-gallary-head {
  margin: 0 0 20px 0;
}

.home-gallary-head h1 {
  font-size: 55px;
  line-height: 62px;
  font-weight: 500;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.home-gallary-swiper-sub {
  width: 100%;
  margin: 10px 20px;
  padding: 0 0 30px 0;
}

.home-gallary-swiper-sub img {
  width: 100%;
}

.home-gallary-btn {
  margin: 30px 0;
}

.home-gallary-btn a {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-family: Saira, sans-serif;
  background-color: #ca629d;
  color: #fff;
  border: 0;
  padding: 10px 25px;
}

.home-gallary-btn :hover {
  background-color: #12448b; /* Change the color to whatever you want */
  transition: all 0.3s ease-in-out 0s;
}

/* Home Message */

.home-msg-sub {
  padding: 50px 20px;
}

.home-msg-head-txt {
  margin: 10px 0;
}

/* .home-msg-head-txt span:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ca629d;
  left: 535px;
  margin-top: 8px;
} */

.home-msg-head-txt span {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: rgb(202, 98, 157);
  font-family: Saira, sans-serif;
}

/* .home-msg-head-txt span:after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ca629d;
  left: 525px;
  margin-top: 3px;
} */

.home-msg-sub h1 {
  font-size: 55px;
  line-height: 62px;
  font-weight: 500;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 20px 0;
}

.home-msg-form-main {
  margin: 40px 0;
}

.home-msg-form-p1,
.home-msg-form-p2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 30px;
  margin: 20px 0;
}

.home-msg-input-div {
  width: 350px;
}

.home-msg-input-div p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  color: rgb(18, 68, 139);
  font-family: Saira, sans-serif;
}

.home-msg-input-div div {
  position: relative;
}

.home-msg-input-div div input,
textarea {
  padding-left: 40px;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 1px;
  margin: 8px 0;
  outline: none;
  padding: 15px 20px;
  box-sizing: border-box;
  transition: 0.3s;
}

.home-msg-input-div div svg {
  position: absolute;
  right: 0;
  top: 8px;
  padding: 16px 15px;
  color: #aaa;
  transition: 0.3s;
}

.home-msg-txt-area {
  margin: 0 auto;
  text-align: left;
  width: 715px;
}

.home-msg-form-submit {
  margin: 50px 0;
}

.home-msg-form-submit input {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-family: Saira, sans-serif;
  background-color: #ca629d;
  border: 0;
  padding: 10px 30px;
}

.home-msg-form-submit :hover {
  background-color: #12448b; /* Change the color to whatever you want */
  transition: all 0.3s ease-in-out 0s;
}

/* Footer Section */

.main-footer-menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  padding: 30px 15px;
  background-color: #12448b;
}

.main-footer-p1 {
  display: flex;
  width: 65%;
  justify-content: space-between;
}

.main-footer-p2 {
  width: 35%;
}

.main-footer-menu h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-footer-menu a {
  text-decoration: none;
}

.main-footer-menu p,
.main-footer-menu span {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #d1dbe5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-footer-p1-content a:hover p {
  color: #ca629d; /* Change the color to whatever you want */
  transition: all 0.5s ease-in-out 0s;
}

.footer-num a:hover p {
  color: #ca629d; /* Change the color to whatever you want */
  transition: all 0.5s ease-in-out 0s;
}

.footer-num a:hover p span {
  color: #ca629d; /* Change the color to whatever you want */
  transition: all 0.5s ease-in-out 0s;
}

.footer-num a p span {
  margin: 0 5px;
  padding-top: 5px;
}

.main-footer-menu h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-footer-p1 {
  margin: 0 100px 0 20px;
}

.footer-icon-fb {
  width: 40px;
}

.footer-icon-fb img {
  width: 100%;
}

.footer-icon-insta {
  width: 60px;
}

.footer-icon-insta img {
  width: 100%;
}

.footer-icon-wp {
  width: 40px;
}

.footer-icon-wp img {
  width: 100%;
}

.footer-hr {
  border: 0;
  height: 2.5px;
  width: 70px;
  background-color: #ca629d;
  margin: 15px 0;
}

.footer-add {
  margin: 20px 0;
}

.footer-num {
  margin: 10px 0;
}

.footer-num a {
  margin: 5px 0;
}

.footer-low {
  text-align: center;
  margin: 15px 0;
}

.low-footer-img {
  width: 200px;
  margin: 0 auto;
}

.low-footer-img a {
  width: 100%;
}

.low-footer-img a img {
  width: 100%;
}

.low-footer-txt {
  margin: 5px 0;
}

.low-footer-txt p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.low-footer-txt p span {
  margin: 0 10px;
}

.low-footer-txt p span a {
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #ca629d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer-cont-icon {
  display: flex;
  align-items: center;
}

/* About Page */

.about-page-p1-main {
  margin: 50px 30px;
  width: 88%;
}

/* Product Page */

.product-page-data {
  background-color: #f0f5f7;
  padding-bottom: 30px;
}

.product-page-data-head {
  padding: 40px 0;
}

.product-page-data-head h1 {
  font-size: 55px;
  line-height: 62px;
  font-weight: 500;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.product-page-content-main {
  text-align: left;
}

.product-page-content-p1 {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  margin: 0 15px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.product-page-content-box {
  width: 30%;
  height: 530px;
  margin: 10px;
  background-color: #fff;
}

.product-content-img {
  width: 100%;
}

.product-content-img img {
  width: 100%;
  height: 330px;
  background-color: #fff;
}

.product-content-txt {
  padding: 10px 20px;
}

.product-content-txt a {
  text-decoration: none;
  font-size: 25px;
  line-height: 32px;
  font-weight: 500;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.product-content-p p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: rgb(124, 128, 131);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Digital-Dentistry page */

.dent-page-data-main {
  position: relative;
}

.dent-page-data-main::before {
  content: "";
  position: absolute;
  top: 50;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/home_dentistery.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -1;
}

.dent-page-data {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px 0;
}

.dent-page-img {
  width: 20%;
  position: relative;
  overflow: hidden;
}

.dent-page-img img {
  max-width: 100%;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  transition: 0.5s ease;
}

.__react_modal_image__modal_content {
  position: relative;
  width: 30% !important;
  margin: 0 auto;
}

/* Blog Page */

.blog-page-data {
  margin: 50px 30px;
}

.blog-page-data-sub {
  width: 30%;
  text-align: left;
  box-shadow: 0 0 4px 0.5px;
}

.blog-page-data-img {
  width: 100%;
}

.blog-page-data-img img {
  width: 100%;
  height: 250px;
}

.blog-page-data-txt h1 {
  font-size: 22px;
  line-height: 29px;
  font-weight: 400;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 10px 0;
}

.blog-page-data-txt p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: rgb(124, 128, 131);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 20px 0;
}

.blog-page-data-btn h1 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: rgb(33, 37, 41);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 10px 0;
}

.blog-page-data-btn a {
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: rgb(13, 110, 253);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.blog-page-content-main-txt {
  padding: 10px 20px;
}

.blog-page-data-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Benefits of Digital Dentistry Page */

.benefits-data-p1 {
  display: flex;
  margin: 40px 20px;
}

.benefit-p1-img {
  width: 70%;
}

.benefit-p1-img img {
  width: 100%;
  height: 450px;
}

.benefit-p1-content {
  width: 30%;
  text-align: left;
  margin-top: 20px;
  margin-left: 60px;
}

.benefit-p1-content-cat h1 {
  font-size: 30px;
  line-height: 46px;
  font-weight: 500;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.benefit-p1-content-cat a {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.benefit-p1-content-cat a,
.benefit-p1-content-cat span {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: rgb(18, 68, 139);
  font-family: Saira, sans-serif;
}

.benefit-p1-content-cat span {
  margin: 5px 10px 0 0;
}

.benefit-p1-content-btn-main h1 {
  font-size: 30px;
  line-height: 46px;
  font-weight: 500;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 20px 0;
}

.benefit-p1-content-btn a {
  text-decoration: none;
  font-size: 17px;
  line-height: 32px;
  font-weight: 400;
  color: #7c8083;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f0f5f7;
  padding: 5px 10px;
}

.benefit-p1-content-btn div {
  margin: 10px;
}

.benefit-p1-content-btn div:last-child {
  display: flex;
  align-items: center;
  gap: 5px;
}

.benefit-p1-content-btn div a:hover {
  background-color: #ca629d; /* Change the color to whatever you want */
  transition: all 0.3s ease-in-out 0s;
  color: #fff;
}

.benefit-p1-content-cat a:hover {
  color: #ca629d; /* Change the color to whatever you want */
  transition: all 0.3s ease-in-out 0s;
}

.benefit-p1-content-cat a:hover span {
  color: #ca629d; /* Change the color to whatever you want */
  transition: all 0.3s ease-in-out 0s;
}

.benefits-data-p2 {
  text-align: left;
  width: 68%;
  margin: 50px 20px;
}

.benefits-data-p2-head {
  margin: 20px 0;
}

.benefits-data-p2-head h1 {
  font-size: 30px;
  line-height: 46px;
  font-weight: 500;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.benefits-data-p2-txt p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: rgb(124, 128, 131);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 15px 0;
}

.benefits-data-p3 {
  margin: 50px 20px;
}

.benefits-data-p3 h1 {
  text-align: left;
  margin: 25px 0;
  font-size: 30px;
  line-height: 46px;
  font-weight: 500;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.benefits-data-p3-inner-box {
  width: 35%;
  position: relative;
}

.benefits-data-p3-inner-box img {
  width: 100%;
  height: 300px;
}

.benefits-data-p3-inner-box div {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  background-color: #ffffffdd;
  padding: 15px 0;
  width: 90%;
  margin: 0 auto;
}

.benefits-data-p3-inner-box div a {
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: rgb(10, 88, 202);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Career Page */

.career-page-form {
  margin: 100px 0;
}

.career-page-form-head h1 {
  font-size: 55px;
  line-height: 62px;
  font-weight: 500;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 30px 0;
}

.career-page-form-head p {
  font-size: 28px;
  line-height: 34px;
  font-weight: 400;
  color: rgb(202, 98, 157);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 20px 0;
}

/* Contact Page */

.contact-page-touch-section {
  margin: 50px 30px;
}

.contact-page-touch-head {
  text-align: left;
  margin: 50px 0;
}

.contact-page-touch-head-span span {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: rgb(202, 98, 157);
  font-family: Saira, sans-serif;
  margin: 20px 0;
}

.contact-page-touch-head h1 {
  font-size: 55px;
  line-height: 62px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(18, 68, 139);
}

.contact-page-touch-head-span {
  margin: 0 20px;
}

/* .contact-page-touch-head-span span:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 30px;
  border-radius: 50%;
  background-color: #ca629d;
  margin-top: 8px;
}

.contact-page-touch-head-span span:after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  left: 22px;
  border-radius: 50%;
  background-color: #ca629d;
} */

.contact-page-touch-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-icon-main {
  color: #ca629d;
  font-size: 50px;
  line-height: 28px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 20px 15px;
}

.contact-page-touch-icon {
  margin: 10px 10px;
}

.contact-page-touch-icon a {
  text-decoration: none;
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contact-page-icon-txt p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: rgb(124, 128, 131);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 20px 0;
  height: 80px;
}

.contact-icon-a {
  margin: 20px 0;
}

.contact-icon-a a {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 auto;
}

.contact-page-map-section {
  margin: 50px 0;
}

/* Event Page */

.event-page-data-sub {
  margin: 50px 30px;
  box-shadow: 0 0 1px 0;
}

.event-page-data-sub a {
  text-decoration: none;
}

.event-page-data-sub a h1 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.event-page-data-sub a :hover {
  color: #ca629d; /* Change the color to whatever you want */
  /* border-bottom: 1px solid #ca629d; */
  transition: all 0.3s ease-in-out 0s;
}

/* Dental Show Page */

.dental-show-content {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 30px 15px;
}

.dental-show-content-box {
  width: 400px;
  overflow: hidden;
}

.dental-show-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 90%;
}

.dental-show-img img {
  width: 100%;
}

.dent-show-box-1,
.dent-show-box-12,
.dent-show-box-14 {
  height: 267px;
  /* position: relative;
  width: 100%; */
}

.dent-show-box-1 img {
  position: relative;
  bottom: 100px;
}

.dent-show-box-12 img {
  position: relative;
  bottom: 180px;
}

.dent-show-box-14 img {
  position: relative;
  bottom: 160px;
}

.dent-page-img img {
  width: 100%;
  max-width: 100%;
  transition: 0.5s ease;
}

.dent-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #12448bcb; /* Adjust the overlay color and opacity as needed */
  color: #fff;
  font-size: 20px;
}

/* .dent-page-img:hover .dent-img-overlay {
  opacity: 1;
} */

.dent-page-img:hover {
  box-shadow: #12448bc3 0 0 10px 5px;
  transition: 0.5s;
}

.dent-page-img:hover img {
  /* -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05); */
  transform: scale(1.2, 1.2);
  /* box-shadow: #aaa 0 0 13px 10px; */
}

.dental-show-img:hover {
  box-shadow: #12448b 0 0 px 3px;
}

.dent-page-img-overlay a {
  text-decoration: none;
  color: #fff;
}

.dent-page-img-overlay a:hover {
  color: #ca629d;
  transition: 0.3s ease;
}

.scroll-disabled {
  height: 100%;
  overflow: hidden;
}
.img-full-screen,
.img-placeholder {
  cursor: pointer;
}
.img-placeholder {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffffbb;
  z-index: 999;
}

/* Implant Page */

.implant-banner-box {
  top: 100px;
}

.implant-content-p1 {
  display: flex;
  text-align: left;
}

.implant-p1-img {
  width: 70%;
  margin: 20px 10px;
}

.implant-p1-img h1 {
  font-size: 44px;
  line-height: 54px;
  font-weight: 500;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px 0 20px 0;
}

.implant-p1-img-box {
  width: 100%;
}

.removable-p1-img-box {
  width: 70% !important;
}

.implant-p1-img-box img {
  width: 100%;
}

.implant-p1-img-txt p {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: rgb(124, 128, 131);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 20px 0;
}

.implant-p1-link-main {
  width: 30%;
  height: fit-content;
  margin: 50px;
  border: 2px solid #e6ebed;
  border-radius: 1rem;
  padding: 10px 0;
}

.implant-p1-link-main h1 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 30px 30px;
  text-align: center;
}

.implant-p1-link {
  padding: 20px 30px;
}

.implant-p1-link:hover {
  background-color: #ca629d;
  transition: all 0.3s ease-in-out 0s;
}

.implant-p1-link:hover a {
  color: #fff;
  transition: all 0.3s ease-in-out 0s;
}

.implant-p1-link a {
  text-decoration: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: rgb(18, 68, 139);
  font-family: Saira, sans-serif;
}

.implant-p1-link-sub hr {
  height: 1px;
  background-color: #e6ebed;
  border: 0;
}

.im {
  background-color: #ca629d;
}

.im a {
  color: #fff;
}

.implant-p2-head {
  text-align: left;
  margin: 20px 10px;
}

.implant-p2-head h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.implant-p2-img {
  display: flex;
  gap: 30px;
  margin: 50px 10px;
}

.implant-p2-img-box {
  width: 25%;
  height: auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out; /* Smooth transition for zoom effect */
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.implant-p2-img-box:hover {
  box-shadow: #12448bc3 0 0 5px 5px;
  transition: 0.5s all;
}

.implant-p2-img-box:hover img {
  transform: scale(1.1); /* Zoom in effect on hover */
}

.implant-p2-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #12448b7e;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out; /* Smooth transition for overlay */
}

.implant-p2-img-box:hover .implant-p2-overlay {
  opacity: 1; /* Show overlay on hover */
}

.implant-p1-img-txt h3 {
  font-size: 25px;
  line-height: 34px;
  font-weight: 700;
  color: rgb(124, 128, 131);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 30px 0;
}

/* Lithium */

.ld {
  background-color: #ca629d;
}

.ld a {
  color: #fff;
}

/* Den-Zir */

.dz {
  background-color: #ca629d;
}

.dz a {
  color: #fff;
}

/* DMLS PFM */

.dp {
  background-color: #ca629d;
}

.dp a {
  color: #fff;
}

/* Removable */

.re {
  background-color: #ca629d;
}

.re a {
  color: #fff;
}

/* Gallary Page */

.gallary-content-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
}

.gallary-content-menu-btn button {
  background-color: #ca629d;
  border: 0;
  margin: 20px 10px;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.gallary-content-menu-btn button:hover {
  color: #12448b;
  transition: all 0.5s ease;
}

.gallary-content-img-main {
  width: 90%;
  display: flex;
  gap: 20px;
  margin: 20px;
}

.gallary-content-img-main div {
  width: 20%;
}

.gallary-content-img-main img {
  width: 100%;
}

/* Review Page */

.home-review-sub {
  margin: 50px 30px;
}

.home-review-inner-img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.home-review-inner-img img {
  width: 100%;
  height: 100%;
  border-radius: 60px;
}

.home-review-inner-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.home-review-inner-head {
  border: 1px solid #ccc;
  position: relative;
  overflow: visible;
}

.home-review-inner-head h1 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: rgb(132, 132, 132);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 70px 0;
}

.home-review-inner-content h1 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.home-review-head h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: rgb(202, 98, 157);
  font-family: Saira, sans-serif;
  margin: 10px 0;
}

.home-review-head h1 {
  font-size: 55px;
  line-height: 62px;
  font-weight: 500;
  color: rgb(18, 68, 139);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 40px;
}

.swiper-slide.swiper-slide-next,
.swiper-slide.swiper-slide-prev,
.swiper-slide.swiper-slide,
.swiper-slide.swiper-slide-active {
  width: 401px;
  height: 265px;
  margin-right: 30px;
}

/* Mobile Navbar */

/* .nav-toggle {
  display: none;
}
.nav-toggle-label {
  display: none;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}

.mobile-view-nav-content {
  text-align: left;
  top: 100%;
  left: 0%;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: right;
  transition: transform 400ms ease-in-out;
}

  .nav-toggle:checked ~ .mobile-view-nav-content {
    transform: scale(1, 1);
    height: 200vh;
  }

/* .nav-toggle:checked ~ section {
  display: none;
} */

/* .nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 100ms ease-in-out 100ms;
} */

.main {
  display: none;
}

/* Bottom To Top */

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #12448b;
  border: 3px solid #ca629d;
  color: #fff;
  padding: 15px 20px;
  border-radius: 30px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

body.scrolled .back-to-top {
  opacity: 1;
}

/* Mobile phone pop up */

.form-popup-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  z-index: 9999;
}
.form-popup-bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  overflow-y: auto;
  /* z-index: 10000; */
}
.form-popup-bg.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.form-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: #fff;
  width: 85%;
  text-align: left;
}
.close-button {
  background: none;
  color: #fff;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  border: 0;
  font-size: 20px;
  z-index: 10000;
}

.form-popup-bg:before {
  content: "";
  background-color: #fff;
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.form-container-head {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #ca629d;
  border-radius: 10px 10px 0 0;
}

.mobile-pop-form {
  padding: 0 20px 0 0;
}

/* Mobile view */

.mob-verify-pop {
  /* text-align: center; */
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  line-height: 21px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: Saira, sans-serif;
  background-color: #12448b;
  border: 2px solid #ca629d;
  border-radius: 30px;
  padding: 10px 0px;
  margin: 10px 0;
}

.mobile-nav-content {
  background-color: #12448b;
}

/* SocialMedia Links Page */

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.sociallinks-sub {
  margin: 50px 0;
}

.sociallinks-link {
  margin: 30px auto;
  width: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  padding: 30px 50px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.sociallinks-link hr {
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.125);
}

.sociallinks-link-box a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 20px 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: montserrat, sans-serif;
  animation: slideRight 1.5s ease forwards;
}
.sociallinks-link-box.special {
  text-decoration: none;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 20px 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: montserrat, sans-serif;
  animation: slideLeft 1.5s ease forwards;
}

.sociallinks-link-box a span {
  margin-top: 3px;
}

.sociallinks-head-txt h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: rgb(51, 51, 51);
  font-family: montserrat, sans-serif;
}

.sociallinks-link-head {
  margin-bottom: 20px;
}

.sociallinks-link-head h1 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  color: rgb(202, 98, 157);
  font-family: lato, sans-serif;
  animation: slideInText 1s ease forwards;
}
@keyframes slideInText {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.sociallinks-link-main {
  margin: 40px 0;
}
.dent-page-imge {
  position: relative;
  overflow: hidden;
}
.dent-page-img img {
  max-width: 100%;
  max-height: 100%;
}
.react-modal-image {
  z-index: 1;
}

/* Dent Hover */

.inner-box {
  margin: 50px 30px;
}

.image-box {
  height: 300px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.dent-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3333338a;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease;
}

.image-box:hover .dent-overlay {
  opacity: 1;
}

.flaticon-zoom-icon {
  color: white;
  font-size: 25px;
  cursor: pointer;
}

/* Social Media Page */

.social-menu ul {
  /* position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0; */
  /* transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.social-menu ul li {
  list-style: none;
  margin: 0 15px;
}

.social-menu ul li .fab {
  font-size: 30px;
  line-height: 60px;
  transition: 0.3s;
  color: #000;
}

.social-menu ul li a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
  transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover {
  background-color: #0077b5;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #e4405f;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #0077b5;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: rgb(16, 198, 16);
}

.social-menu ul li:nth-child(1) a:hover i,
.social-menu ul li:nth-child(2) a:hover i,
.social-menu ul li:nth-child(3) a:hover i,
.social-menu ul li:nth-child(4) a:hover i {
  color: white;
}
